// Fonts
$fontText: 'Roboto', sans-serif;
$fontTitle: 'Lilita One', sans-serif;

// Colors
$baseWhite: #fff;
$baseBlack: #000;
$paletteColor1: #f9593d;
$paletteColor2: #dd365b;
$paletteColor3: #153d52;
$paletteColor4: #1a1c52;
$paletteColor5: #312b78;
$colorText: $baseWhite;
$bgColor: $paletteColor3;

// Breakpoints
$bpMobile: 767px;
$bpTablet: 1023px;
