@use 'config/fn';
@use 'config/mxn';
@use 'config/vars';
@use 'header';
@use 'feature';
@use 'components/button';
@use 'components/infos_bar';
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:wght@400;700&display=swap');

* {
    @include mxn.reset;
    list-style-type: none;
}

h1,
h2 {
    font-family: vars.$fontTitle;
    font-weight: normal;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: vars.$bpTablet) {
        max-width: 80%;
    }

    @media screen and (max-width: vars.$bpMobile) {
        max-width: 90%;
    }
}

.main {
    background-image: linear-gradient(
        315deg,
        vars.$paletteColor3 0%,
        vars.$paletteColor5 50%,
        vars.$paletteColor4 100%
    );
}
